@font-face {
    font-family: NorseBold;
    src: url(/assets/Norse-Bold.otf);
    font-display: block;
}

html {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        box-sizing: inherit;
}

* {
    font-family: NorseBold, system-ui;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: whitesmoke;
}

.left-container {
    position: relative;
    flex-grow: 0.4;
    height: 100vh;
    background-image: url(assets/left-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    position: relative;
    top: 20.7%;
    height: 15dvh;
    background-color: rgb(0, 0, 0, 50%);
}

.logo {
    position: relative;
    top: 15px;
    left: 20%;
    height: 80%;
    background-image: url(assets/odin-logo.png);
    background-repeat:no-repeat;
    background-size: contain;
}

.logo-text {
    font-size: 6rem;
    font-family: NorseBold;
    position: relative;
    bottom: 100px;
    left: 37%;
    color: white;
}

.right-container {
    height: 100dvh;
    flex-grow: 0.6;
    display: flex;
    flex-direction: column;
}

p, form, button {
    margin-left: 64px;
}

.title {
    height: 35.7dvh;
    /* flex-grow: 0.3; */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    max-inline-size: 60ch;
    align-content: center;
}

.form-container {
    height: 31.3dvh;
    /* flex-grow: 0.35; */
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px 4px lightgray;
}

.form-title {
    height: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 16px 0 0;
}

form {
    height: 80%;
    width: 46dvw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 16px;
}

label {
    display: block;
    font-size: 0.9rem;
}

input {
    font-size: 0.9rem;
    width: 14dvw;
    margin-right: 24px;
    margin-bottom: 16px;
    margin-top: 2px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px 2px 2px lightslategrey;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

.sign-container {
    /* flex-grow: 0.35; */
    height: 33dvh;
    padding-top: 32px;
}

button {
    font-size: 1.05rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 8px 48px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 32px;
}





